

.home{
    
    background: url(../../Images/BACKGROUND5.png);
    background-repeat: repeat;
    background-size: auto;
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    grid-gap:0px; 
    padding-bottom: 4.3%;
}
